PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="your-jwt-secret-key"
CLIENT_URL="http://localhost:3000"

# Optional SMTP Settings for Live Email (Defaults to console log & Ethereal email fallback)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Ticket Booking <noreply@ticketbooking.com>"
